<div class="container text-center">
    <div class="row justify-content-center p-3">
        <div class="col-sm-10">
            <h1 class="display-3">Ao seu apoio, o conversor de moedas! 👏</h1>
            <div class="row justify-content-center">
                <div class="col-8 col-lg-4">
                    <img src="https://i.pinimg.com/564x/c1/d7/59/c1d759746f86c35b41295567027184d5.jpg"
                        class="img-fluid rounded-1 mx-auto d-block" alt="Money!">
                </div>
            </div>
            <p>Projeto de conversão de moedas para exemplificar a API <a
                    class="link-offset-2 link-offset-3-hover link-underline link-underline-opacity-0 link-underline-opacity-75-hover"
                    href="https://exchangerate.host/#/" target="_blank">exchange.host</a>.</p>
            <div class="border text-start p-3 rounded-1">
                <p><strong>Ampla Variedade de Moedas</strong>: Trabalhamos com uma ampla gama de moedas internacionais,
                    desde as mais comuns até as menos conhecidas. Isso permite que você converta entre várias moedas em
                    um único lugar.</p>
                <p><strong>Calculadora de Conversão Fácil de Usar</strong>: Nossa calculadora intuitiva permite que você
                    insira o valor desejado em uma moeda e veja instantaneamente o equivalente em outra moeda, sem
                    complicações.</p>
                <p><strong>Histórico de Conversões</strong>: Mantemos um registro das suas conversões anteriores para
                    que você possa acompanhar seu histórico financeiro de maneira conveniente.</p>
                <p class="mb-0"><strong>Totalmente Gratuito</strong>: Nosso serviço de conversão de moedas é completamente gratuito.
                    Não cobramos taxas ocultas ou comissões.</p>
            </div>
        </div>
    </div>
</div>